<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>18.1</title>
</head>
<body>
<!-- v-show和v-if的区别
 v-show:如果是空的话是隐藏
 v-if:如果不是空的话是删除
 -->
<div id = "app">
    <div>

        <input type="text" v-model="name">
        <span v-show="name">你的名字是：{{name}}</span>

    </div>

    <div>

        <input type="text" v-model="age">
        <span v-show="age">你的年龄是：{{age}}</span>

    </div>

    <div>

        <input type="text" v-model="sex">
        <span v-show="sex">你的性别是：{{sex}}</span>

    </div>
</div>
<script src="../lib/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>